body {
	background-color: white;
    font-family: Calibri, Verdana, Serif;
    margin: 0;
    padding: 0;
}
#resultsTable {
	width: 100%;
	empty-cells: show;
	border-collapse: collapse;
}
#resultsTable th {
	background-color: lightyellow;
	color: black;
	font-weight: bold;
	border: 1px solid black;
	border-top: 0px;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}
#resultsTable tr {
	background-color: white;
}
#resultsTable td {
	border: 1px solid black;
	padding-left: 4px;
	padding-right: 4px;
	padding-bottom: 2px;
	padding-top: 2px;
	overflow: hidden;
	white-space: nowrap;
	width: auto;
}
#resultsTable tr[severity="1"] {
	background-color: red;
	color: white;
}
#resultsTable tr[severity="2"] {
	background-color: orange;
}
#resultsTable tr[severity="3"] {
	background-color: yellow;
}
#resultsTable tr[severity="4"] {
	background-color: lightskyblue;
}
#resultsTable tr[severity="5"] {
	background-color: #BDFFAE;
}
.ellipsis {
	font-family: Monospace;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	-ms-text-overflow: ellipsis;
}

#loading {
	width: 100%;
	text-align: center;	
}

table.header {
	width: 100%;
	background-color: white;
	border-bottom: 1px ridge darkgray;
}
table.header td { 
	border: 0; 
	background-color: white; 
	font-size: normal;
}
table.header td.title {
	font-size: 34px !important;
	padding-left: 25px !important;
	padding-right: 25px !important;
	border-right:  1px ridge darkgray !important;
	font-weight: bold;
	white-space: nowrap;
}
.header_left {
	font-weight: bold;
	text-align: right;
	white-space: nowrap;
	width: 130px;
}
.header_right {
	width: 100%;
	white-space: nowrap;
}
.saveB {
	padding-right: 4px;
}

div.detailsPanel {
	background-color: white;
	padding: 12px;
}

div.detailsPanel[severity="1"] {
	box-shadow: inset 0 0 1em red;
	-moz-box-shadow: inset 0 0 1em red;
	-webkit-box-shadow: inset 0 0 1em red;
}
div.detailsPanel[severity="2"] {
	box-shadow: inset 0 0 1em orange;
	-moz-box-shadow: inset 0 0 1em orange;
	-webkit-box-shadow: inset 0 0 1em orange;
}
div.detailsPanel[severity="3"] {
	box-shadow: inset 0 0 1em yellow;
	-moz-box-shadow: inset 0 0 1em yellow;
	-webkit-box-shadow: inset 0 0 1em yellow;
}
div.detailsPanel[severity="4"] {
	box-shadow: inset 0 0 1em lightskyblue;
	-moz-box-shadow: inset 0 0 1em lightskyblue;
	-webkit-box-shadow: inset 0 0 1em lightskyblue;
}
div.detailsPanel[severity="5"] {
	box-shadow: inset 0 0 1em #BDFFAE;
	-moz-box-shadow: inset 0 0 1em #BDFFAE;
	-webkit-box-shadow: inset 0 0 1em #BDFFAE;
}

.unsafeData {
	list-style-type: none;
}

.sourceCode {
	background-color: #F0F0F0;
	color: black;
	border: 2px ridge brown;
	font-family: Monospace;
	padding: 4px;
	font-size: 14px;
	overflow: hidden;
	white-space: nowrap
}